.comicContainer {
  margin: 3rem auto;
}
.comicInfo {
  display: flex;
}

.comicInfo > img {
  margin: 0 auto;
  object-fit: contain;
}

.descriptionContainer {
  margin: 0 auto 1rem auto;
  padding: 21px;
  width: 75%;
}

@media only screen and (max-width: 740px) {
  .comicInfo {
    display: flex;
    flex-wrap: wrap;
  }
}