.showCharacters {
  background: #ffffff80;
  color: black;
  font-weight: bold;
  padding: 5px;
  vertical-align: text-top;
  display: inline-flex;
  margin-top: 2rem;
  margin-bottom: 1rem;

  img {
    height: 25px;
  }
}

.characters {
  img {
    width: 100px;
    height: 100px;
    object-fit: fill;
  }

  @media only screen and (max-width: 740px) {
    text-align: center;
  }
}
